In [1]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv('/content/drive/MyDrive/DiSkola/student-math.csv')

In [5]:
data.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'freetime', 'goout', 'Dalc', 'absences', 'G1',
       'G2', 'G3'],
      dtype='object')

## 1. Nilai rata-rata akhir (G3) semua murid di sekolah “GP”

In [6]:
result = data[data['school'] == 'GP']['G3'].mean()
print('Nilai rata akhir(G3) semua murid GP adalah =', result)

Nilai rata akhir(G3) semua murid GP adalah = 10.489971346704872

##2. Nilai min dan max (G3) dari murid-murid di sekolah “MS”

In [7]:
nMin = data[data['school'] == 'MS']['G3'].min()
nMax = data[data['school'] == 'MS']['G3'].max()

print('Nilai min (G3) dari murid-murid di sekolah MS =', nMin)
print('Nilai max (G3) dari murid-murid di sekolah MS =', nMax)

Nilai min (G3) dari murid-murid di sekolah MS = 0
Nilai max (G3) dari murid-murid di sekolah MS = 19

##3. Proporsi jenis kelamin dari murid-murid

In [8]:
result = data['sex'].value_counts() / len(data) * 100
print('Proporsi jenis kelamin dari murid-murid adalah :\n',result)

Proporsi jenis kelamin dari murid-murid adalah :
 F    52.658228
M    47.341772
Name: sex, dtype: float64

##4. Rata-rata final grade (G3) sesuai dengan study time

In [9]:
data.groupby('studytime')['G3'].mean()

studytime
1    10.047619
2    10.171717
3    11.400000
4    11.259259
Name: G3, dtype: float64

##5. Rata-rata final grade (G3) sesuai dengan extra educational support

In [10]:
data.groupby('schoolsup')['G3'].mean()

schoolsup
no     10.561047
yes     9.431373
Name: G3, dtype: float64